h1 {
    color: green;
}
h2 {
    color: red;
}
h3 {
    color: cornflowerblue;
}
h4 {
    background-color: black;
    color: yellow;
}
p {
    color: blueviolet;
}
.title {
    background: #000;
    color: aqua;
    padding: 15px;
}

p {
    padding: 5px;
}